:root{
    --main_font_color: rgb(182, 228, 228);
    --header_footer_background: rgb(9, 25, 32);
    --site_max_width: 1300px;
    --link_hover_color: rgb(255, 168, 8);
    --link_hover_border: rgb(195, 221, 221);
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: var(--header_footer_background);
}

body{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(gallery/fabio_background.jpg) bottom left / cover no-repeat;
    background-image: url(gallery/fabio_background.jpg);

    }

.border{
    padding: 20px 100px;
}

header {
    background-color: rgba(9, 25, 32, 0);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease
}

header.scrolled {
    background-color:  rgba(9, 25, 32, 0.8);
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
}



nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style-type: none;
    
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: var(--main_font_color);
    font-weight: 300;
    font-size: 0.8rem;
    border-radius: 00px;
    transition: all 0.3s ease-in-out;
    padding: 10px 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border-color 0.3 ease;
}


nav ul li a:hover{
   border-bottom-color: var(--main_font_color);
   
}

nav .logo-title{
    display: flex;
    gap: 10px;
    align-items: center;
}

nav .login-search{
    display: flex;
    gap: 15px;
    
    
}

nav .login-search .searchInput{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    /* background: var(--main_font_color); */

    background: rgba(15, 23, 42, 0.45);
    color: #e5f6f7;
    border: 1px solid rgba(255,255,255,0.2);
    
}

nav .login-search .searchInput:focus {
  background: rgba(15, 23, 42, 0.6);
  border-color: rgba(251, 191, 36, 0.6); /* yellow family */
  box-shadow: 0 0 0 3px rgba(251, 191, 36, 0.2);
}

.search-wrapper{
    position: relative;
}
.searchButton img{
    width: 15px;
    
    transition: transform 0.2s ease, opacity 0.2s ease;
    
    
    
 
    
}

.searchButton, .loginButton{
    padding: 2px 10px;
    border-radius: 10px;
    border: none;
    background: none;
    color: var(--main_font_color);
    transition: background-color 0.4s ease-in-out;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 999;
    
}



.searchButton:hover{
    
    transform: scale(1.3);
    opacity: 0.75;
    transition: 0.4s ease-in-out;
    /* border-bottom: 1px solid var(--link_hover_border);
    border-top: 1px solid var(--link_hover_border);
    color: var(--header_footer_background);
    background-color: var(--link_hover_border);
    cursor: pointer; */
    
}

.loginButton:hover {
    border-bottom: 1px solid var(--link_hover_border);
    border-top: 1px solid var(--link_hover_border);
    color: var(--header_footer_background);
    background-color: var(--link_hover_border);
    cursor: pointer;
}

.title-page{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    border: none;
}

.title-page h1{
    color: var(--main_font_color);
    font-weight: 500;
    font-size: 1.6rem;
    
}

.title-page img{
    width: 50px;
}


.hero{
    display: flex;
    padding: 250px 300px;
    align-items: center;
    gap: 200px;
    height: 90vh;
  
    
    

}

.hero img{
    width: 850px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.35);
    opacity: 0.35;

}



.hero .main_hero {
    color: var(--link_hover_color);
    font-size: 3rem;
}

.hero .second_hero{
    color: var(--main_font_color);
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.hero p {
    color: var(--main_font_color);
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.hero a{
    margin-left: 10px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--header_footer_background);
    background-color: var(--link_hover_color);
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: 600;
}


.hero a:hover{
    color: var(--link_hover_color);
    border: 1px solid var(--main_font_color);
    background-color: var(--header_footer_background);
}


.gallery{
    
    padding: 100px 300px;
    text-align: center;
}

.gallery h1{
    margin: 50px auto;
    color: rgb(88, 88, 90);
    text-align: center;
    font-size: 2.2rem;
}

.gallery_container{
    border: 1px solid var(--main_font_color);
    border-radius: 15px;
    background-color: rgb(219, 226, 231);
    opacity: 0.9;
}

.gallery_images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-items: center;
    padding-bottom: 100px;
    row-gap: 50px;
}

.services-tile{
    width: 350px;

}

.services-tile img{
    width: 100%;
    border-radius: 20px;
    opacity: 0.8;
  
}

.services-tile h4{
    margin-top: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.services-tile p{
    color: rgb(66, 64, 75);
    font-size: 0.9rem;
    text-align: left;
}


.about{
    display: grid;
    place-items: center;    
    
}

.about .about-container{
    width: 78%;
    
}

.about-container h1,h2, h3, p, li{
    color: beige;
    font-size: 1.5rem;
    
}

.about-container .first_paragraph{
    text-align: justify;
}
.about-container h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}

.about-container .first_paragraph{
    margin-bottom: 50px;
}

.about-container h3{
    margin-bottom: 20px;
}


.about-container ul{
    padding-left: 30px;
}

.about-container .phrase{
    margin-top: 30px;
}


.about-container .aboutUs{
    display: flex;
    gap: 100px;
    background-color: rgb(219, 226, 231);
    justify-content: center;
    padding: 100px 200px;
    border-radius: 20px;
    align-items: center;
    opacity: 0.9;
}

.aboutUs img{
    width: 550px;
    position: relative;
    border-radius: 15px;
    opacity: 0.8;
}

.aboutUs .whyChooseUs h3, li, p{
    color: var(--header_footer_background);
    font-size: 1rem;
}

.contact-us{
    background-color: rgb(219, 226, 231);;
    display: grid;
    place-items: center;
    
}


.contact-us-container{
    width: 100%;
    /* height: 75vh; */
    opacity: 0.8;
    
    display: grid;
    place-items: center;
    padding: 100px 100px;
}

.contact-form-container{
    display: flex;
    flex-direction: column;
    width: 400px; 
    background-color: rgb(255, 255, 255);  
    padding: 50px 40px;
    border-radius: 15px;
    
    
    
}

.form-input{
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    background: rgb(236, 236, 240);
    padding-inline: 10px;
}

.form-input-container label{
    font-size: 0.9rem;
}

.contact-form{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: none;
    
}

.contact-title{
    color: var(--header_footer_background);
    font-size: 2rem;
    margin-bottom: 50px;
}


.contactSubmit{
    margin-top: 20px;
    border: none;
    height: 2rem;
    border-radius: 15px;
     background: rgb(236, 236, 240);
}

.messageBox{
    height: 100px;
    resize: none;
    padding: 10px;
    
}


footer {
    width: 100%;
    background-color: var(--header_footer_background);
    opacity: 0.8;
    
    
}

footer .copyright p{
    margin-top: 50px;
    padding: 50px 10px;
    text-align: center;
    color: #e5f6f7;
}
