*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background: linear-gradient(to right, #4e73df, #a4c9eb);
}

form{
    border: none;
    max-width: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 30px 20px;
    margin-top: 150px;
    border-radius: 15px;
    /* background: whitesmoke; */


    background: rgba(234, 236, 238, 0.623);  /* semi transparent */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);   /* Safari support */

    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

   
}

form .input-group{
    position: relative;
    margin-bottom: 15px;
    margin-top: 20px;

}

form .input-group input{
    height: 2.5rem;
    border-radius: 5px;
    border: 1.2px solid rgb(182, 180, 180); 
    padding: 10px 10px 10px 10px;
    background-color: white(255, 255, 255);
    width: 100%;
    font-size: 1rem;
    color: gray;
    
}

form .input-group .icon{
    position:absolute;
    left:15px;
    top:50%;
    transform: translateY(-50%);
    pointer-events: none;
}


form .input-group .icon img{
    width: 25px;
    height: 25px;
}

form button{
    margin-top: 20px;
    height: 30px;
   
}


.error{
    text-align: center;
    padding: 10px 0;
    background-color: rgb(236, 77, 77);
    color: rgb(247, 223, 223);
    font-size: 1rem;
}

.error-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    background-color: rgb(243, 243, 117);
    color: rgba(70, 69, 69, 0.829);
    position: relative;
    align-items: center;
    font-weight: 600;
}

.close-btn{
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding: 2px 5px;
    background:none;
    border: none;
    font-size: 1.2rem;
    align-items: center;
}

.close-btn:hover{
    /* background:rgb(230, 230, 173); */
    color: white;
    
}

form > h1{
    margin: 20px auto 10px auto;
    font-size: 1.2rem;
    color:  rgb(85, 84, 84);
}


form img{
    width: 100px;
    mix-blend-mode: multiply;
    margin: 0 auto;
    opacity: 50%;
}

form .login-icon{
    opacity: 90%;
}

.loginBtn{
    border: none;
    color: #ffffff;
    background: rgb(100, 100, 231);
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1.2rem;
    
}


.signUp{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    color:  rgb(85, 84, 84);
}

p span a{
    
    margin-left: 10px;
    text-decoration: none;
    color: rgb(62, 62, 226);
    
}

p span a:hover{
    color: rgb(158, 158, 229);
}


.resetPassword{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: right;
    text-decoration: none;
    color:  rgb(87, 97, 240);
}

.resetPassword:hover{
    color: rgb(150, 150, 240);
}