*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    border: 1px solid grey;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 30px 20px;
    margin-top: 150px;
    border-radius: 15px;
   
}

form button{
    margin-top: 20px;
    height: 30px;
}

form :nth-child(3){
    margin-top: 20px;
}

form p{
    margin-bottom: 5px;
}


.error{
    text-align: center;
    padding: 10px 0;
    background-color: rgb(236, 77, 77);
    color: rgb(247, 223, 223);
    font-size: 1rem;
}

.error-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    background-color: rgb(241, 241, 143);
    color: rgb(65, 63, 63);
}

