*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background: linear-gradient(to right, #4e73df, #c1e9da);
}


form{
    border: none;
    max-width: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 30px 20px;
    margin-top: 150px;
    border-radius: 15px;
    /* background: whitesmoke; */


    background: rgba(234, 236, 238, 0.623);  /* semi transparent */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);   /* Safari support */

    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

   
}

form input{
    margin-top: 20px;
    height: 2.5rem;
    border-radius: 5px;
    border: 1.2px solid rgb(182, 180, 180); 
    padding-inline-start: 5px;
    background-color: white(255, 255, 255);
    
}

form button{
    margin-top: 20px;
    height: 30px;
   
}


.error{
    text-align: center;
    padding: 10px 0;
    background-color: rgb(236, 77, 77);
    color: rgb(247, 223, 223);
    font-size: 1rem;
}

.error-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    background-color: rgb(241, 241, 143);
    color: rgb(65, 63, 63);
    position: relative;
    align-items: center;
}

.close-btn{
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding: 2px 5px;
    background:none;
    border: none;
    font-size: 1.2rem;
    align-items: center;
}

.close-btn:hover{
    /* background:rgb(230, 230, 173); */
    color: white;
    
}

form > h1{
    margin: 20px auto 10px auto;
    font-size: 1.2rem;
    color:  rgb(65, 63, 63);
}


.loginBtn{
    border: none;
    color: #ffffff;
    background: rgb(100, 100, 231);
    border-radius: 5px;
    height: 2.5rem;
}
