*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   

}

body{
    margin: 0 auto;
    max-width: 1300px;
}

header{
    display: flex;
    justify-content: space-between;
    /* padding: 20px 150px; */
    align-items: center;
    margin: 20px auto ;
}

nav ul li {
    list-style-type: none;
}



main {
    margin: 150px  auto;
    border: 1px solid grey;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px ;
    padding-bottom: 20px;
   
}

.button-container{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.button-container button{
    padding: 10px 5px;
}

.addMaterial-container{
    padding-top: 50px;
}


.spaceBlock{
    margin-top: 10px;
}

.addMaterialButton{
    padding: 10px 5px;
    margin-top: 10px;
    text-align: center;
}