*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
    color: #0f5496;

}

body{
    margin: 0 auto;
    background: rgb(235, 235, 228);
}

.max-width{
    max-width: 1300px;
    margin: 0 auto;
}

/* header section */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    background: linear-gradient(180deg, #5c82cc, #0f5496);
    
}

header h1{
    color: rgb(245, 243, 241);
}

header div{
    display: flex;
    gap: 10px;
    align-items: center;
}
header div img{
    width: 50px;
    background-image: transparent;
}

header button{
    padding: 10px 10px;
    border-radius: 10px;
    border:none;
    background: #15a1d8;
    color: white;
    box-shadow: 0 4px 10px rgba(115, 153, 233, 0.25);
    transition: background 0.2s ease, transform 0.1s ease, box-shadow 0.2s ease;
    
}

header button:hover{
    background: #5ab7db;
    box-shadow: 0 6px 14px rgba(57, 114, 236, 0.35);
}

header button img{
    width: 10px;
}


nav ul{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 20px;
}


.displayStatus-container{
    display: flex;
    justify-content: space-between;

    
}

.displayStatus-container div {
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    height: 300px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.displayStatus-container .lowStockAlerts-container .lowStockAlerts{
    color: rgb(238, 143, 34);
}


.displayStatus-container .outOfStock-container .outOfStock{
    color: rgb(233, 10, 10);
}


.displayStatus-container div p{
    text-align: center;
    margin-top: 70px;
    font-size: 4rem;
}

main {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px 0;
    justify-content: space-evenly;
    padding-bottom: 100px;


}

main section{
    display: flex;
    flex-direction: column;
}

main .section1-container div{
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background: white;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

main .section1-container .locationSummary-container{
    margin-top: 20px;
    padding: 20px;
}

main .section2-container {
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background:white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

main .section3-container div{
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background:white;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;

}

main .section3-container .teams-container{
    margin-top: 20px;
}