*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #5c82cc, #0f5496);
    padding: 10px;
}

.trainTicket-container{
    max-width: 100%;
    width: 400px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 100px auto;
    
}

.trainTicket-container h1{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
}

form div input, select{
    margin-top: 10px;
}



.inputDesign{
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid gray;

}

.inputDesign:focus{
    border-color: 1px solid  #a269b1;
}

div select{
    height: 40px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 100%;
}

hr{
    width: 100%;
}

.goButton{
    height: 40px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #a269b1;
    color: white;
}

.goButton:hover{
    background-color:  #a07fa8;
}



.receipt-container{
    display: none;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline-start: 50px;
}


.ticketPriceDisplay{
    margin-top: 20px;
}

.receipt-container img{
    width: 200px; 
    
    height: 50px;
}

.receipt-container p:not(.ticketPriceDisplay) span{
    margin: 10px 5px;
}